@import url('../data/Variaveis.css');

.CardProduto {
    margin: 20px auto 0px auto;
    background-color: white;
    width: 280px;
    box-shadow:  1px 2px 5px rgba(32, 32, 32, 0.322);
    padding-bottom: 10px;
    height: auto;
}

.CardProduto img {
    width: 280px;
    border-bottom: var(--cor-bordas) 1px solid;
}

.CardProduto h1 {
    margin: auto 0 0 10px;
}
.CardProduto p {
    margin: 0 0 0px 10px;
    font-size: 20px;
}
