@import url('../data/Variaveis.css');

.Footer {
    margin-top: 30px;
    margin-bottom: 0px;
    background-color: var(--cor-principal);
    padding: 20px;
    display: flex;
}

.Footer p {
    margin: auto;  
    font-size: 20px;
    font-weight: bold;
}