@import url('../data/Variaveis.css');

header {
    background-color: var(--cor-principal);
    margin: 0px;
    padding: 0px;
    height: 120px;
    width: 100%;
    display: flex;
}

.HeaderMenu input {
    border: none;
    box-shadow:  1px 2px 5px rgba(32, 32, 32, 0.322);
    margin-top: auto;
    margin-bottom: auto;
    height: 40px;
    margin-left: 60px;
    width: 40%;
    font-family: 'Urbanist';
    font-size: 1.3rem;
    padding-left: 10px;
}

.Logo {
    margin: 10px 0px 10px 30px;
}

ul {
    margin: 0px;
    padding: 0px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.Nav {
    background-color: var(--cor-principal-escura);
    padding:0 10px;
    display: flex;
    justify-content: space-between;
}

.Menu {
    display: flex;
    list-style: none;
}

.Menu li {
    margin: 10px 0;
}

.Menu a {
    height: 100%;
    padding: 10px 15px;
}

.LoginH {
    margin-right: 10px;
    display: flex;
    list-style: none;
}

.LoginH li {
    margin: 10px;
}

.LoginH a {
    height: 100%;
    padding: 10px 15px;
}
