@import url('../data/Variaveis.css');

.Produto {
    background-color: white;
    box-shadow:  1px 2px 5px rgba(32, 32, 32, 0.322);
    width: fit-content;
    margin: 20px auto 20px auto;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
}

.Essencial{
    display: flex;
    margin-bottom: 20px;
}

.Informacao {
    margin-right: 10px;
    width: 400px;
    padding: 10px;
    margin-top: 35px;
    border: var(--cor-bordas) 1px solid;
    border-radius: 10px;
}

.Produto img {
    width: 400px;
    margin: 10px 20px;
}

.NomePreco h1 {
    margin: 10px 0 0px 10px;
    font-size: 50px;
    width: fit-content;
}

.Preco {
    margin: 0px 10px 0px 10px;
    font-size: 32px;
}

.Divido {
    margin: 0px 10px;
    font-size: 16px;
}

.BotoesComprar {
    margin-top: 70px;
}

.Quantidade {
    margin: 10px 10px;
    font-family: 'Urbanist';
    font-size: 24px;
    padding: 5px;
    border: none;
    box-shadow:  1px 2px 5px rgba(32, 32, 32, 0.322);
    border-radius: 5px;
    width: fit-content;
}

.NomePreco input {
    border: none;
    width: 30px;
    height: 25px;
    font-size: 24px;
    font-family: 'Urbanist';
}

.NomePreco button{
    display: block;
    margin: 10px 10px;
    font-family: 'Urbanist';
    font-size: 24px;
    padding: 5px;
    border: none;
    box-shadow:  1px 2px 5px rgba(32, 32, 32, 0.322);
    border-radius: 5px;
    color: #000;
}

.ComprarAgora {
    background-color: var(--cor-botao-azul);

}

.ComprarAgora:active{
    background-color: var(--cor-botao-azul-clique);

}

.AdicionarCarrinho {
    background-color:  var(--cor-botao-vermelho);
}

.AdicionarCarrinho:active {
    background-color:  var(--cor-botao-vermelho-clique);
}

.Descricao {
    border: var(--cor-bordas) 1px solid;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 830px;
}

.Descricao h2 {
    margin: 0;
    font-size: 40px;
}

.Descricao p {
    margin: 5px 0 0 0;
    font-size: 20px;
}

@media screen and (max-width: 940px){
    .Produto img {
        width: 300px;
    }
    .Descricao {
        width: 730px;
    }
    .NomePreco h1 {
        font-size: 40px;
    }
    
    .Preco {
        font-size: 30px;
    }
    
    .Divido {
        font-size: 16px;
    }
    .BotoesComprar {
        margin-top: 30px;
    }

    .Quantidade {
        font-size: 20px;
     }
    
    .NomePreco input {
        font-size: 20px;
    }
    
    .NomePreco button{
        font-size: 20px;
    }

    .Descricao h2 {
        font-size: 35px;
    }
    
    .Descricao p {
        font-size: 18px;
    }
}

@media screen and (max-width: 830px){
    .Produto img {
        width: 400px;
        margin-left: 50px;
        margin-bottom: 0px;
    }
    .Descricao {
        width: 450px;
    }
    .Essencial{
        display: block;
    }

    .NomePreco h1 {
        margin: 10px 0 0px 10px;
        font-size: 50px;
    }
    
    .Preco {
        margin: 0px 10px 0px 10px;
        font-size: 36px;
    }
    
    .Divido {
        margin: 0px 10px;
        font-size: 18px;
    }
    .BotoesComprar {
        margin-top: 20px;
    }

    .Quantidade {
        margin: 10px 10px;
        font-family: 'Urbanist';
        font-size: 24px;
        padding: 5px;
        border: none;
        box-shadow:  1px 2px 5px rgba(32, 32, 32, 0.322);
        border-radius: 5px;
        width: fit-content;
    }
    
    .NomePreco input {
        font-size: 24px;
    }
    
    .NomePreco button{
        font-size: 24px;
    }

    .Descricao h2 {
        margin: 0;
        font-size: 35px;
    }
    
    .Descricao p {
        margin: 5px 0 0 0;
        font-size: 18px;
    }

    .Informacao {
        margin-right: auto;
        margin-left: auto;
        width: 450px;
        margin-top: 10px;
    }
    
}

@media screen and (max-width: 550px){
    .Produto img {
        width: 300px;
        margin-left: 40px;
        margin-bottom: 0px;
    }
    .NomePreco h1 {
        font-size: 42px;
    }    
    .Descricao {
        width: 330px;
    }
    .Informacao {
        width: 330px;
    }
}

@media screen and (max-width: 440px){
    .Produto img {
        width: 250px;
        margin-left: 20px;
    }
    .NomePreco h1 {
        font-size: 35px;
    }
    .NomePreco .Preco {
        font-size: 30px;
    }

    .Descricao {
        width: 250px;
    }
    .Informacao {
        width: 250px;
    }

    .Quantidade {
        font-size: 18px;
    }
    .Quantidade input {
        font-size: 18px;
        width: 20px;
        margin-left: -5px;
    }
    .BotoesComprar button {
        font-size: 20px;
    }

    .Descricao h2 {
        font-size: 32px;
    }
}

@media screen and (max-width: 360px){
    .Produto img {
        width: 200px;
        margin-left: 30px;
        margin-bottom: 0px;
    }

    .Informacao {
        margin-top: 10px;
        width: 200px;
    }
    .NomePreco h1 {
        font-size: 36px;
    }
    .NomePreco .Preco {
        font-size: 28px;
    }

    .NomePreco .Divido {
        font-size: 16px;
    }

    .Descricao {
        width: 200px;
    }

    .Quantidade label{
        margin-left: 10px;
        font-size: 26px;
        display: block;
    }
    .Quantidade input {
        font-size: 26px;
        width: 100px;
        margin-left: 10px;
        margin-top: 5px;
        
    }
    .BotoesComprar button {
        font-size: 26px;
    }

    .Descricao h2 {
        font-size: 32px;
    }
}